[user]
  name = c332030
  email = c332030@c332030.com
  signingkey = 790EB374

[core]
  # 不转换换行符
  autocrlf = false
  safecrlf = false
  # 忽略换行符变更
  whitespace = cr-at-eol
  filemode = false
  # 长路径
  longpaths = true

# 加速
#[http]
#    proxy = http://127.0.0.1:10809
#[https]
#    proxy = http://127.0.0.1:10809

# 递归操作子项目
[submodule]
  recurse = true

[init]
  defaultBranch = main

[pull]
  rebase = true

[commit]
  gpgsign = false
[tag]
  gpgSign = false
[safe]
  directory = '*'
[credential]
  helper = store
